$bg-image-opacity : 0.2;
$focus-color : #cf0652;
$link-color : #69CDFF;
$font-family : "MuseoSans",sans-serif;
$breakpoint : 1366px;
$breakpoint4k : 3800px;

@mixin respond-to($media) {
  @if $media == 720p {
    @media only screen and (max-width: $breakpoint) {@content;}
  }
  @else if $media == 1080p {
    @media only screen and (min-width: $breakpoint + 1) {@content;}
  }
  @else if $media == 4k {
    @media only screen and (min-width: $breakpoint4k) {@content;}
  }
}

body {
  font-family: $font-family;
  background-color: #000;
  color: #DDD;
  font-size: 30px;
  height:1080px;
  @include respond-to(720p) { font-size: 20px; }
  @include respond-to(4k) { font-size: 60px; }
  margin:0;
  
}

h1 {
  font-size: 50px;
  @include respond-to(720p) { font-size: 30px; }
  @include respond-to(4k) { font-size: 100px; }
}

.play-buttons {
  width:100%;
  text-align: center;
  margin-top: 30px;
  @include respond-to(720p) { margin-top: 20px; }
  @include respond-to(4k) { margin-top: 60px; }

  * {
    -webkit-animation: fadeinfull ease-in 1;
    animation: fadeinfull ease-in 1;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
  }
}

a.btn.play {
  font-size: 50px;
  padding: 10px 30px;
  margin: 5px;  
  @include respond-to(720p) { font-size: 30px; padding: 8px 20px;}
  @include respond-to(4k) { font-size: 100px; padding: 20px 60px;}
}

a, a:visited, a:hover {
  color:$link-color;
}

.selected a {
  color:$link-color;
}

input[type="text"] {
    font-size:40px;
    border-bottom: 10px solid transparent;
    @include respond-to(4k) { font-size: 80px;}
}

.dialog {
  text-align: center;
  margin: auto;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%, -50%);
}
#top-menu {
  text-align: center;
  font-size: 64px;
  @include respond-to(720p) { font-size: 40px; }
  @include respond-to(4k) { font-size: 120px; }
  background-color: rgb(43, 46, 49);

  .menu-option {
    padding: 10px 20px;
    @include respond-to(720p) { padding: 8px 16px; }
    @include respond-to(4k) { padding: 20px 40px; }
    display: inline-block;
    cursor: pointer;
    width: 15%;
    /* margin:0 -7px; */

    a {
      text-decoration: none;
      line-height: 50px;
    }
  }
}

#top-menu .menu-option.active,
.nav-bar  div.show.active,
.nav-bar  div.podcast.active  {
  background-color: $focus-color !important;
}
#top-menu .menu-option.active a,
.nav-bar  div.show.active a,
.nav-bar  div.podcast.active a {
  color: #fff;
}

#top-menu .menu-option.selected,
.nav-bar  div.selected {
  background-color: #404040;
}

#media-view {
  height:300px;
  padding: 30px 100px 20px 100px;
  @include respond-to(720p) { height:200px; padding: 20px 60px 10px 60px;}
  @include respond-to(4k) { height:600px; padding: 60px 200px 40px 200px;}
  text-align: center;
  background-size: cover;
  
  * {
    -webkit-animation: fadeinfull ease-in 1;
    animation: fadeinfull ease-in 1;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
  }

  h1, p {
    margin: 15px;
    @include respond-to(720p) { margin: 10px;}
    @include respond-to(4k) { margin: 30px;}
  }

  small {
    margin: 0 50px;
  }
}

.nav-bar {
  height: 70px;
  @include respond-to(720p) { height: 40px;}
  @include respond-to(4k) { height: 140px;}
  position: relative;
  background-color: #262626;
  overflow: visible;

  div.podcast,
  div.show {
    float: left;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    font-size: 32px;
    display: inline;
    @include respond-to(720p) { font-size: 24px; padding: 6px 15px;}
    @include respond-to(4k) { font-size: 64px; padding: 20px 40px;}

    &.width-set {
      display: block;
    }

    a {
      text-decoration: none;
      line-height: 50px;
      @include respond-to(720p) { line-height:28px;}
      @include respond-to(4k) { line-height:100px;}
    }

    a:before {
      content: "< ";
      opacity: 0;
    }

    a:after {
      content: " >";
      opacity: 0;
    }

    &.selected a:before,
    &.selected a:after  {
      opacity: 1;
    }
  }

  
}

#videos {
  .item {
    padding: 10px 0;
  }

  .video:not(.disabled), .podcast:not(.disabled) {
    width: 450px;
    height: 253px;
    @include respond-to(720p) { width : 300px; height : 168px;}
    @include respond-to(4k) { width : 900px; height : 506px;}
    background-color: #222;
    text-align: center;
    background-size: contain;
    position: relative;
    cursor: pointer;

    &.active:before {
      content:"";
      position: absolute;
      width: 100%;
      height:15px;
      top:-15px;
      left:0;
      background-color: $focus-color;
      @include respond-to(4k) {height: 30px; top: -30px;}
    }
    &.active:after {
      content:"";
      position: absolute;
      width: 100%;
      height:15px;
      bottom:-15px;
      left: 0;
      background-color: $focus-color;
      @include respond-to(4k) {height: 30px; bottom: -30px;}
    }

    a {
      color:#fff;
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.7);
      padding: 5px;
      width: 90%;
      line-height: 49px;
      position: absolute;
      top:50%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
      transform:translate(-50%,-50%);
      @include respond-to(720p) { line-height: 30px; }
      @include respond-to(4k) { line-height: 100px; }
    }

    .video-time {
      position: absolute;
      left: 10px;
      bottom: 20px;
      font-size: 20px;
      padding:5px;
      @include respond-to(720p) { font-size: 16px; padding: 4px; left:6px; bottom:14px;}
      @include respond-to(4k) { font-size: 40px; padding: 10px; left:20px; bottom:40px;}
      background-color: rgba(0, 0, 0, 0.7);
    }

    .posted {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 20px;
      padding:5px;
      @include respond-to(720p) { font-size: 16px; padding: 4px; right:6px; top:6px;}
      @include respond-to(4k) { font-size: 40px; padding: 10px; right:20px; top:20px;}
      background-color: rgba(0, 0, 0, 0.7);
    }

    .posted.live {
      font-size: 24px;
      @include respond-to(720p) { font-size: 16px;}
      @include respond-to(4k) { font-size: 48px;}
    }

    .video-timer {
      position: absolute;
      left: 0;
      bottom: 0;
      height : 10px;
      width:100%;
      background-color: rgba(0, 0, 0, 0.7);
    }

    .video-timer-marker {
      position: absolute;
      left: 0;
      bottom: 0;
      height : 10px;
      background-color: #F00;
    }
  }
}

@keyframes videoFadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes videoFadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

#video-container {
  z-index: 1000;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;

  .mejs__controls.fadeout {
    opacity: 0;
    -webkit-animation: videoFadeout ease-in 1;
    animation: videoFadeout ease-in 1;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
  }

  .mejs__overlay-error {
    img {
      width: 100%;
    }
    .mejs__cannotplay {
      font-size: 50px;
    }
  }
}

#video-container , #audio-container {

  .mejs__controls {
    height:130px;
    flex-wrap: wrap;

    @include respond-to(720p) {height:100px;}
    @include respond-to(4k) {height:260px;}

    .transport {
      display: none;
      height:70px;
      width: 100%;
      display: flex;
      margin-bottom: 10px;

      @include respond-to(720p) {height:50px;}
      @include respond-to(4k) {height:140px;}

      > span {
        width:70px;
        height:70px;
        font-size: 50px;
        background-color: rgba(0,0,0,0.5);
        color: #fff;
        text-align: center;
        padding-top: 10px;
        margin-right: 10px;
        flex: 0 0 auto;
        @include respond-to(720p) {height:50px;width:50px;font-size: 32px;}
        @include respond-to(4k) {height:140px;width:140px;font-size: 100px;padding-top: 20px;}

        &.fa {
          cursor: pointer;
        }

        &.active {
          background-color: $focus-color;
        }

        &.title {
          font-size: 32px;
          height: 70px;
          display: block;
          // width: auto;
          padding: 15px;
          margin-right: 0;
          min-width: 1px;
          flex:1 0 auto;
          @include respond-to(720p) {height:50px; font-size: 24px;padding: 12px;}
          @include respond-to(4k) {height:140px; font-size: 64px;padding: 30px;}

          > span {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
          }
        }
      }
    }

    .mejs__time-rail {
      height:50px;
      padding-top:0;
      margin-left: 0;

      .mejs__broadcast {
        font-size: 32px;
      }

      .mejs__time-total {
        margin:0;
        height:40px;
        @include respond-to(720p) {height:30px;}
        @include respond-to(4k) {height:80px;}

        .mejs__time-loaded, .mejs__time-current, .mejs__time-hovered, .mejs__time-buffering {
          height:100%;
          font-size: 24px;
        }
        
        .mejs__time-handle{
          .mejs__time-handle-content {
            display: none;
          }
        }
        
        .mejs__time-float {
          height:50px;
          width: 100px;
          z-index: 100;
    
          .mejs__time-float-current {
            top:15px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            font-size: 24px;
            width: 100%;
          }
        }
      }

      .mejs__time-buffering, .mejs__time-current, .mejs__time-float, .mejs__time-float-current, .mejs__time-hovered, .mejs__time-loaded, .mejs__time-marker, .mejs__time-total {
        border-radius: 0;
      }
      .mejs__time-float-corner {
        border-color: #000 transparent transparent;
      }
    }

    .mejs__time {
      background-color: rgba(0,0,0,0.3);
      height:40px;
      padding: 0 10px;
      line-height: 40px;
      font-size: 24px;
      font-weight: 400;
      @include respond-to(720p) {line-height: 30px; height:30px; font-size: 20px;}
      @include respond-to(4k) {line-height: 80px; height:80px; font-size: 48px;}
    }
  }

  .mejs__container {
    font-family: $font-family;
    min-width: 0 !important;
  }

  .mejs__long-video .mejs__time-float {
    margin-left: -35px;
  }
  
  .mejs__button {
    margin-top: -5px;
  }

}

#audio-player {
  margin-top:10px;
  width:100%;
}

a.btn {
  background-color: #222;
  padding: 10px;
  text-decoration: none;
}

a.btn.active {
  background-color: $focus-color;
  color: #fff;
}

.video-js {
  font-size: 25px;
}

.video-js .vjs-time-control {
  display: block !important;
}

.spinner {
  position: fixed;
  z-index: 500;
  top:40%;
  left:50%;
  width: 200px;
  text-align: center;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%, -50%);

  > div {
    width: 50px;
    height: 50px;
    background-color: $link-color;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }

  .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

#audio-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#audio-player {
  height:76px;
}

img.logo {
  position: absolute;
  top:7px;
  left:10px;
  @include respond-to(720p) { display: none;}
  @include respond-to(4k) { width: 160px; height: 160px;}
}

#live-menu-option {
  a {
    position: relative;

    span {
      -webkit-animation: liveAnimation 4s linear infinite;
      animation: liveAnimation 4s linear infinite;

      &:last-child {
        opacity: 0;
        -webkit-animation-delay: 2s;
        animation-delay: 2s;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
      }
    }
  }
}

@keyframes liveAnimation {
  0% {opacity: 0;}
  5% {opacity: 1;}
  45% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 0;}
}

@-webkit-keyframes liveAnimation {
  0% {opacity: 0;}
  5% {opacity: 1;}
  45% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 0;}
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: $bg-image-opacity; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: $bg-image-opacity; }
}

@keyframes fadeinfull {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinfull {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: $bg-image-opacity; }
  to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
  from { opacity: $bg-image-opacity; }
  to   { opacity: 0; }
}

img.bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  opacity: 0;
  z-index: -100;
}

img.bg-image.fadein {
  opacity: $bg-image-opacity;
  -webkit-animation: fadein ease-out 1;
  animation: fadein ease-out 1;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

img.bg-image.fadeout {
  opacity: 0;
  -webkit-animation: fadeout ease-in 1;
  animation: fadeout ease-in 1;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

#no-results {
  text-align: center;
}

