body {
  font-family: "MuseoSans",sans-serif;
  background-color: #000;
  color: #DDD;
  font-size: 30px;
  margin: 0;
  overflow: hidden;
  height: 1080px;
}

h1 {
  font-size: 50px;
}

p.media-error {
  text-align: center;
}

.play-buttons {
  position: absolute;
  bottom: 140px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.play-buttons * {
  -webkit-animation: fadeinfull ease-in 1;
  animation: fadeinfull ease-in 1;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
}

a.btn.play {
  font-size: 50px;
  padding: 10px 30px;
  margin: 5px;
}

a, a:visited, a:hover {
  color: #69CDFF;
}

.selected a {
  color: #69CDFF;
}

input[type="text"] {
  font-size: 40px;
  border-bottom: 10px solid transparent;
}

.dialog {
  text-align: center;
  margin: auto;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#top-menu {
  text-align: center;
  font-size: 64px;
  background-color: #2b2e31;
}

#top-menu .menu-option {
  padding: 10px 20px 10px 20px;
  display: inline-block;
  cursor: pointer;
  width: 15%;
  /* margin:0 -7px; */
}

#top-menu .menu-option a {
  text-decoration: none;
  line-height: 50px;
}

#top-menu .menu-option.active,
.nav-bar div.show.active,
.nav-bar div.podcast.active {
  background-color: #cf0652 !important;
}

#top-menu .menu-option.active a,
.nav-bar div.show.active a,
.nav-bar div.podcast.active a {
  color: #fff;
}

#top-menu .menu-option.selected,
.nav-bar div.selected {
  background-color: #404040;
}

#media-view {
  height: 300px;
  padding: 30px 100px 20px 100px;
  text-align: center;
  background-size: cover;
}

#media-view * {
  -webkit-animation: fadeinfull ease-in 1;
  animation: fadeinfull ease-in 1;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

#media-view h1, #media-view p {
  margin: 15px;
}

#media-view small {
  margin: 0 50px;
}

.nav-bar {
  height: 70px;
  position: relative;
  background-color: #262626;
  overflow: visible;
}

.nav-bar div.podcast,
.nav-bar div.show {
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  text-align: center;
  font-size: 32px;
  display: inline;
}

.nav-bar div.podcast.width-set,
.nav-bar div.show.width-set {
  display: block;
}

.nav-bar div.podcast a,
.nav-bar div.show a {
  text-decoration: none;
  line-height: 50px;
}

.nav-bar div.podcast a:before,
.nav-bar div.show a:before {
  content: "< ";
  opacity: 0;
}

.nav-bar div.podcast a:after,
.nav-bar div.show a:after {
  content: " >";
  opacity: 0;
}

.nav-bar div.podcast.selected a:before,
.nav-bar div.podcast.selected a:after,
.nav-bar div.show.selected a:before,
.nav-bar div.show.selected a:after {
  opacity: 1;
}

#videos .item {
  padding: 10px 0;
}

#videos .video:not(.disabled), #videos .podcast:not(.disabled) {
  width: 450px;
  height: 253px;
  background-color: #222;
  text-align: center;
  background-size: contain;
  position: relative;
  cursor: pointer;
}

#videos .video:not(.disabled).active:before, #videos .podcast:not(.disabled).active:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 15px;
  top: -15px;
  left: 0;
  background-color: #cf0652;
}

#videos .video:not(.disabled).active:after, #videos .podcast:not(.disabled).active:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 15px;
  bottom: -15px;
  left: 0;
  background-color: #cf0652;
}

#videos .video:not(.disabled) a, #videos .podcast:not(.disabled) a {
  color: #fff;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  width: 90%;
  line-height: 49px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#videos .video:not(.disabled) .video-time, #videos .podcast:not(.disabled) .video-time {
  position: absolute;
  left: 10px;
  bottom: 20px;
  font-size: 20px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.7);
}

#videos .video:not(.disabled) .posted, #videos .podcast:not(.disabled) .posted {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.7);
}

#videos .video:not(.disabled) .posted.live, #videos .podcast:not(.disabled) .posted.live {
  font-size: 24px;
}

#videos .video:not(.disabled) .video-timer, #videos .podcast:not(.disabled) .video-timer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 10px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#videos .video:not(.disabled) .video-timer-marker, #videos .podcast:not(.disabled) .video-timer-marker {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 10px;
  background-color: #F00;
}

#video-container {
  z-index: 1000;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: right;
}

#video-container .mejs__overlay-error img {
  width: 100%;
}

#video-container .mejs__overlay-error .mejs__cannotplay {
  font-size: 50px;
}

#video-container .mejs__long-video .mejs__time-float, #audio-container .mejs__long-video .mejs__time-float {
  margin-left: -35px;
}

#video-container .mejs__time, #audio-container .mejs__time {
  font-size: 24px;
  padding: 10px 6px 0;
  font-weight: 400;
}

#video-container .mejs__button, #audio-container .mejs__button {
  margin-top: -5px;
}

#video-container .mejs__time-total, #audio-container .mejs__time-total {
  height: 40px;
  margin: -15px 0 0;
}

#video-container .mejs__time-total .mejs__time-loaded, #video-container .mejs__time-total .mejs__time-current, #video-container .mejs__time-total .mejs__time-hovered, #video-container .mejs__time-total .mejs__time-buffering, #audio-container .mejs__time-total .mejs__time-loaded, #audio-container .mejs__time-total .mejs__time-current, #audio-container .mejs__time-total .mejs__time-hovered, #audio-container .mejs__time-total .mejs__time-buffering {
  height: 100%;
  font-size: 24px;
}

#video-container .mejs__time-total .mejs__time-handle .mejs__time-handle-content, #audio-container .mejs__time-total .mejs__time-handle .mejs__time-handle-content {
  display: none;
}

#video-container .mejs__time-total .mejs__time-float, #audio-container .mejs__time-total .mejs__time-float {
  height: 50px;
  width: 100px;
}

#video-container .mejs__time-total .mejs__time-float .mejs__time-float-current, #audio-container .mejs__time-total .mejs__time-float .mejs__time-float-current {
  top: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 24px;
  width: 100%;
}

#video-title {
  margin-right: 15px;
}

#video-player {
  margin-top: 10px;
  width: 100%;
  height: 480px;
}

#audio-player {
  margin-top: 10px;
  width: 100%;
}

a.btn {
  background-color: #222;
  padding: 10px;
  text-decoration: none;
}

a.btn.active {
  background-color: #cf0652;
  color: #fff;
}

.video-js {
  font-size: 25px;
}

.video-js .vjs-time-control {
  display: block !important;
}

.spinner {
  position: fixed;
  z-index: 500;
  top: 40%;
  left: 50%;
  width: 200px;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.spinner > div {
  width: 50px;
  height: 50px;
  background-color: #69CDFF;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

#audio-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#audio-player {
  height: 76px;
}

#audio-title {
  padding: 0 25px;
  font-size: 24px;
}

#audio-title:before {
  content: "Currently Playing: ";
}

#audio-title:after {
  content: " (press back to stop)";
}

img.logo {
  position: absolute;
  top: 7px;
  left: 10px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.2;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.2;
  }
}

@keyframes fadeinfull {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinfull {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 0;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 0;
  }
}

img.bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -100;
}

img.bg-image.fadein {
  opacity: 0.2;
  -webkit-animation: fadein ease-out 1;
  animation: fadein ease-out 1;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

img.bg-image.fadeout {
  opacity: 0;
  -webkit-animation: fadeout ease-in 1;
  animation: fadeout ease-in 1;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

#no-results {
  text-align: center;
}
